.featuredworks{
    min-height: 200px;
    margin-top: 50px;
}
.featureworks-1,.featureworks-2,.featureworks-3{
    max-width: 250px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}



@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */
  .clients img{
    max-width: 80px;
  } 
  .clients h2{
    font-weight:900!important;
    font-size: 33px !important;
}
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
  .clients img{
    max-width: 80px;
  }
  .clients h2{
    font-weight:900!important;
    font-size: 33px !important;
}
}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .clients img{
    max-width: 100px;
  }
  .clients h2{
    font-weight:900!important;
    font-size: 2.0em !important;
}
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
  .clients img{
    max-width: 120px;
  }
  .clients h2{
    font-weight:900!important;
    font-size: 2.5em !important;
}
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
  .clients img{
    max-width: 140px;
  }
  .clients h2{
    font-weight:900!important;
    font-size: 2.5em !important;
}
}
/*animation*/
/**
 * ----------------------------------------
 * animation slide-in-bck-center
 * ----------------------------------------
 */
 .slide-in-bck-center {
	-webkit-animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes slide-in-bck-center {
     
    0% {
      -webkit-transform: translateZ(600px);
              transform: translateZ(600px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bck-center {
    0% {
      -webkit-transform: translateZ(600px);
              transform: translateZ(600px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  

  

/**
 * ----------------------------------------
 * animation focus-in-expand
 * ----------------------------------------
 */
 .focus-in-expand {
	-webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.2s both;
	        animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.2s both;
}
 @-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  