

.btn{
    background:#fce779;
    border-radius: 7px;
}
.ecom-background::before{
    display: block;
    content: "";
    max-width: 400px;
    height: 100px;
    background: transparent url('https://lynagails-caters.s3-ap-southeast-1.amazonaws.com/uploads/Gostyle/Asset+8.png') no-repeat;
    background-size:contain;
    position: absolute;
    left: 0;   
    right:0;
}
.ecom-background img{
    margin-top: 50px;
    z-index: 2;
}
.ecom-background-triangle::after{
    display: block;
    content: "";
    width: 3px;
    height: auto;
    background: transparent url('https://lynagails-caters.s3-ap-southeast-1.amazonaws.com/uploads/Gostyle/Asset+15.png') no-repeat;
}
.mobile-background{
    background-image: url('https://lynagails-caters.s3-ap-southeast-1.amazonaws.com/uploads/Gostyle/Asset+18.png');
    background-repeat: no-repeat;
    min-height: 500px;
    background-position: top right;
    position: relative;
    
}
.website{
    margin: 35px 0;
    background-image: url('https://lynagails-caters.s3-ap-southeast-1.amazonaws.com/uploads/Gostyle/test2-01-01-01-01-01.png');
    background-size: cover;
    background-repeat: no-repeat;
}
@media screen and (min-width: 320px) {
    .mobile-background .row:nth-child(1){
        position: "";
        top: "";
        -ms-transform:" ";
        transform: "";
    }
    .inMarket-background .inbound-tagline{
        position: "";
        top: "";
        -ms-transform:" ";
        transform: "";
    }
}
@media screen and (min-width: 900px) {
    .mobile-background .row:nth-child(1){
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .inMarket-background .inbound-tagline{
        position: "";
        top: "";
        -ms-transform:" ";
        transform: "";
    }
}

.inMarket-background{
    background-image: url('https://lynagails-caters.s3-ap-southeast-1.amazonaws.com/uploads/Gostyle/inbound.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    min-height: 500px;
    position: relative;
}
.inMarket-background .inbound-tagline{
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.featureworks {
    margin: 35px 0;
}
.featureworks .row {
    max-width: 1250px;
    margin: 0 auto;
}
.featureworks img {
    max-width: 180px;
}
.partners img{
    width: 100%;
    height: auto;
    max-width: 250px;
    padding: 10px;
}
.last{
    margin:0 auto;
    background-image: linear-gradient(white , #fce779 100%);

}
.last h1{
    font-weight: 700 !important;
}
.last p{
    text-align: left;
}
.last .ant-btn{
    border-radius: 25px;
}