
.solutions{
    background-color: #FAFAFAFA;
    margin:50px 0 0 0;
}

.solutions-commerce{
    text-align: justify;
    padding:20px 0;
    margin:0 auto;
}
@media (min-width: 320px){
.solutions h1 {
    font-size: 35px !important;
}
}