.wework-img img{
    width:100px;
    height:100px;
    display:block;
    margin:0 auto;
}
.wework a{
    padding: 7px 15px;
    border-radius: 5px;
    margin: 5px;
}
.wework{
    min-height: 450px;
    margin-top:80px;
}
.work3{
    margin-top:10px;
}

.wework-h1{
    text-align: center;
    color: #fce779;
    font-weight: 900 !important;
    text-shadow: 2px 2px 2px #b2aa38d6;
}

@media (min-width:320px)  { 
    .wework p{
        font-size: 13px;
        font-weight: 700;
        padding:10px 0;
    }
    .wework-img{
        text-align: center;
        width:100%;
        display: inline-block;
    }
}
@media (min-width:481px)  { 
    .wework p{
        font-size: 24px;
        font-weight: 600;
        padding: 10px 0;
    }
    .wework-img{
        text-align: center;
        width:100%;
        display: inline-block;
    }
}
@media (min-width:641px)  { 
    .wework p{
        font-size: 13px;
        font-weight: 700;
        padding:10px 5px;
    }
    .wework-img{
        text-align: center;
        width:20%;
        display: inline-block;
    }
}

@media (min-width:961px)  { 
    .wework p{
        font-size: 16px;
        font-weight: 700;
        padding:10px 20px;
    }
    .wework-img{
        text-align: center;
        width:20%;
        display: inline-block;
    }
}

@media (min-width:1025px) { 
    .wework p{
        font-size: 17px;
        font-weight: 700;
        padding:10px 35px;
    }
    .wework-img{
        text-align: center;
        width:25%;
        display: inline-block;
    }
}