
.Isection2.tasks{
    min-height: 450px;
    margin-top:80px;

    padding:35px;
}
.Isection2.tasks .row{
    margin:0 auto;
    padding:15px;
}

.anim{
    transition: transform .2s; /* Animation */
}

.tasks h2{
    font-size:2.5em !important;
}
.tasks p{
    font-size:18px !important;
}

.anim:hover{
    transform: scale(1.2);
}

@media (min-width:320px)  { 
    .tasks p{
        font-size: 13px;
        font-weight: 700;
        padding:10px 0;
    }
    .Iitem .tasks-img{
        text-align: center;
        width:100%;
        display: inline-block;
    }
    .Iitem .tasks-img img{
        width: 80%;
        height: auto;
        display: block;
        margin: 0 auto;
        background: #fffaf0;
        padding: 20px;
    }
    .modal-right{
        margin: 0;
        position: relative;
        top: auto;
        left: auto;
        transform: "";
        width:100%;
      }
      .Isection2.tasks img{
        width: 100%;
        height: 100%;
        max-width: 300px;
        padding: 10px;
    }
}
@media (min-width:481px)  { 
    .tasks p{
        font-size: 24px;
        font-weight: 600;
        padding: 10px 0;
    }
    .Iitem .tasks-img{
        text-align: center;
        width:50%;
        display: inline-block;
    }
    .Iitem .tasks-img img{
        width: 80%;
        height: auto;
        display: block;
        margin: 0 auto;
        background: #fffaf0;
        padding: 20px;
    }
    .modal-right{
      margin: 0;
      position: relative;
      top: auto;
      left: auto;
      transform: "";
      width:100%;
    }
    .Isection2.tasks img{
        width: 100%;
        height: 100%;
        max-width: 480px;
        padding: 10px;
    }
}
@media (min-width:641px)  { 
 
    

    
    .tasks p{
        font-size: 13px;
        font-weight: 700;
        padding:10px 5px;
    }
    .Iitem .tasks-img{
        text-align: center;
        width:25%;
        display: inline-block;
    }
    .Iitem .tasks-img img{
        width: 80%;
        height: 220px;
        display: block;
        margin: 0 auto;
        background: #fffaf0;
        padding: 20px;
    }
    .modal-right{
        margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width:100%;
    }
    .Isection2.tasks img{
        width: 100%;
        height: 100%;
        max-width: 480px;
        padding: 10px;
    }
}

@media (min-width:961px)  { 
 
    
    
    
    .tasks p{
        font-size: 16px;
        font-weight: 700;
        padding:10px 12px;
    }
    .Iitem .tasks-img{
        text-align: center;
        width:25%;
        display: inline-block;
    }
    .Iitem .tasks-img img{
        width: 80%;
        height: 220px;
        display: block;
        margin: 0 auto;
        background: #fffaf0;
        padding: 20px;
    }
    .modal-right{
        margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width:100%;
    }
    .Isection2.tasks img{
        width: 100%;
        height: 100%;
        max-width: 480px;
        padding: 10px;
    }
}

@media (min-width:1025px) { 
    .tasks p{
        font-size: 17px;
        font-weight: 700;
        padding:10px 12px;
    }
    .Iitem .tasks-img{
        text-align: center;
        width:25%;
        display: inline-block;  
    }
    .Iitem .tasks-img img{
        width: 80%;
        height: 220px;
        display: block;
        margin: 0 auto;
        background: #fffaf0;
        padding: 20px;
    }
    .modal-right{
        margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width:100%;
    }
    .Isection2.tasks img{
        width: 100%;
        height: 100%;
        max-width: 480px;
        padding: 10px;
    }
}
  
.Iitem{
    width:100%;
    text-align:center;
    display:block;
    background-color: transparent;
    border: 1px solid transparent;
    margin-right: 10px;
    margin-bottom: 1px;
    float:left;
}