
.tasks{
    min-height: 450px;
    margin-top:80px;
    background: red;
    padding:35px;
}
.tasks .row{
    margin:0 auto;
    background:#fff;
    padding:25px;
}

.task-commerce{
    text-align: center;
    color: #fce779;
    font-weight: 900 !important;
    text-shadow: 2px 2px 2px #b2aa38d6;
}

@media (min-width:320px)  { 
    h1{
        font-size: 50px;
    }
    .tasks p{
        font-size: 13px;
        font-weight: 700;
        padding:10px 0;
    }
    .tasks-img{
        text-align: center;
        width:100%;
        display: inline-block;
    }
    .tasks-img img{
        width: 80%;
        height: auto;
        display: block;
        margin: 0 auto;
        background: #fce779;
        padding: 20px;
    }
    
}
@media (min-width:481px)  { 
    h1{
        font-size: 50px;
    }
    .tasks p{
        font-size: 24px;
        font-weight: 600;
        padding: 10px 0;
    }
    .tasks-img{
        text-align: center;
        width:50%;
        display: inline-block;
    }
    .tasks-img img{
        width: 80%;
        height: auto;
        display: block;
        margin: 0 auto;
        background: #fce779;
        padding: 20px;
    }
}
@media (min-width:641px)  { 
    h1{
        font-size: 60px;
    }
    .tasks p{
        font-size: 13px;
        font-weight: 700;
        padding:10px 5px;
    }
    .tasks-img{
        text-align: center;
        width:25%;
        display: inline-block;
    }
    .tasks-img img{
        width: 80%;
        height: 220px;
        display: block;
        margin: 0 auto;
        background: #fce779;
        padding: 20px;
    }
}

@media (min-width:961px)  { 
    h1{
        font-size: 60px;
    } 
    .tasks p{
        font-size: 16px;
        font-weight: 700;
        padding:10px 12px;
    }
    .tasks-img{
        text-align: center;
        width:25%;
        display: inline-block;
    }
    .tasks-img img{
        width: 80%;
        height: 220px;
        display: block;
        margin: 0 auto;
        background: #fce779;
        padding: 20px;
    }
}

@media (min-width:1025px) { 
    h1{
        font-size: 60px;
    }
    .tasks p{
        font-size: 17px;
        font-weight: 700;
        padding:10px 12px;
    }
    .tasks-img{
        text-align: center;
        width:25%;
        display: inline-block;
    }
    .tasks-img img{
        width: 80%;
        height: 220px;
        display: block;
        margin: 0 auto;
        background: #fce779;
        padding: 20px;
    }
}