
@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
    .footer a, .footer li{
        color:#fff !important;
        text-align: center;
    }
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
    .footer a, .footer li{
        color:#fff !important;
        text-align: center;
    }
}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    .footer a, .footer li{
        color:#fff !important;
        text-align: left;
    }
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .footer a, .footer li{
        color:#fff !important;
        text-align: left;
    }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
    .footer a, .footer li{
        color:#fff !important;
        text-align: left;
    }
}

.footer{
    padding: 45px 15px;
}
.bg-dark {
    background-color: #000 !important;
}
.list-header, .list-header a{
    font-family: proxima-bold;
    font-weight: 900 !Important;
    font-size: 20px;
}
.footer input{
    border-radius: 25px;
    font-family: proxima-bold;
}
.social-icon {
    font-size: 32px;
    margin-right: 16px;
}
