@import '~bootstrap/dist/css/bootstrap.css';
.bg-light {
    background: #fff !important;
    line-height: 70px;
    /* position: fixed; */
    width: 100%;
    z-index: 10;
}
.mx-auto {
    margin-left: 0 !important;
}
.navbar-expand-lg .navbar-nav .nav-link{
    font-family: proxima-bold;
}

@media (min-width: 320px){
    .login,.login:hover{
        max-width:250px;
        margin: 0 auto;
        background:#fce779;
        border-radius: 7px;
        padding: 2px 50px !important;
        border: 2px solid #000;
    }
    .navbar-brand {
        max-width: initial;
        display: inline-block;
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        margin-right: 1rem;
        font-size: 16px;
        font-weight: 900 !important;
        line-height: inherit;
        white-space: nowrap;
    }
    .right-menu{
        float:right;
        position: relative;
        display:block;
        right:auto;
    }
}
@media (min-width: 468px){
    .login,.login:hover{
        max-width:250px;
        margin: 0 auto;
        background:#fce779;
        border-radius: 7px;
        padding: 2px 50px !important;
        border: 2px solid #000;
    }
    .navbar-brand {
        max-width: initial;
        display: inline-block;
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        margin-right: 1rem;
        font-size: 20px;
        font-weight: 900 !important;
        line-height: inherit;
        white-space: nowrap;
    }
    .right-menu{
        float:right;
        position: relative;
        display:block;
        right:auto;
    }
}
@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .login,.login:hover{
        margin: 30px 0;
        background:#fce779;
        border-radius: 7px;
        padding: 2px 50px !important;
        border: 2px solid #000;
    }
    .navbar-brand {
        display: inline-block;
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        margin-right: 1rem;
        font-size: 29px;
        font-weight: 900 !important;
        line-height: inherit;
        white-space: nowrap;
    }
    .right-menu{
        float:right;
        position: absolute;
        display:inline-flex;
        right:20px;
    }
    }
    @media (min-width: 1028px){
        .login,.login:hover{
            margin: 30px 0;
            background:#fce779;
            border-radius: 7px;
            padding: 2px 50px !important;
            border: 2px solid #000;
        }
        .navbar-brand {

            display: inline-block;
            padding-top: 0.3125rem;
            padding-bottom: 0.3125rem;
            margin-right: 1rem;
            font-size: 29px;
            font-weight: 900 !important;
            line-height: inherit;
            white-space: nowrap;
        }
        .right-menu{
            float:right;
            position: absolute;
            display:inline-flex;
            right:20px;
        }
    }
.nav-link{
    color: #000 !important;
}