@import '~bootstrap/dist/css/bootstrap.css';
.bg-light {
    background: #fff !important;
    line-height: 70px;
    /* position: fixed; */
    width: 100%;
    z-index: 10;
}
.fixedheader{
    position: fixed;
    top:0;
}
.nav-item{
    text-align:center;
}
.mx-auto {
    margin-left: 0 !important;
}

.navbar-brand img {
    width: 130px;
    height: auto;
}
.navbar-expand-lg .navbar-nav .nav-link{
    font-family: proxima-bold;
}

@media (min-width: 320px){
    .login,.login:hover{
        max-width:250px;
        margin: 0 auto;
        background:#fce779;
        border-radius: 7px;
        padding: 2px 50px !important;
        border: 2px solid #000;
    }
    .navbar-brand {
        max-width: initial;
        display: inline-block;
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        margin-right: 1rem;
        font-size: 16px;
        font-weight: 900 !important;
        line-height: inherit;
        white-space: nowrap;
    }
    .right-menu{
        float:right;
        position: relative;
        display:block;
        right:auto;
    }
    .nav-link{
        padding:0 !important;
    }
    .closebtn{
        display:block;
    }
}
@media (min-width: 468px){
    .login,.login:hover{
        max-width:250px;
        margin: 0 auto;
        background:#fce779;
        border-radius: 7px;
        padding: 2px 50px !important;
        border: 2px solid #000;
    }
    .navbar-brand {
        max-width: initial;
        display: inline-block;
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        margin-right: 1rem;
        font-size: 20px;
        font-weight: 900 !important;
        line-height: inherit;
        white-space: nowrap;
    }
    .right-menu{
        float:right;
        position: relative;
        display:block;
        right:auto;
    }
    .nav-link{
        padding:0 !important;
    }
    .closebtn{
        display:block;
    }
}
@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem !important;
        padding-left: 1rem  !important;
    }
    .login,.login:hover{
        margin: 15px 0;
        background:#fce779;
        border-radius: 7px;
        padding: 2px 50px !important;
        border: 2px solid #000;
    }
    .navbar-brand {
        display: inline-block;
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        margin-right: 1rem;
        font-size: 29px;
        font-weight: 900 !important;
        line-height: inherit;
        white-space: nowrap;
    }
    .right-menu{
        float:right;
        position: absolute;
        display:inline-flex;
        right:20px;
    }
    .closebtn{
        display:none;
    }
    }
    @media (min-width: 1028px){
        .navbar-expand-lg .navbar-nav .nav-link {
            padding-right: 1rem !important;
            padding-left: 1rem  !important;
        }
        .login,.login:hover{
            margin: 15px 0;
            background:#fce779;
            border-radius: 7px;
            padding: 2px 50px !important;
            border: 2px solid #000;
        }
        .navbar-brand {

            display: inline-block;
            padding-top: 0.3125rem;
            padding-bottom: 0.3125rem;
            margin-right: 1rem;
            font-size: 29px;
            font-weight: 900 !important;
            line-height: inherit;
            white-space: nowrap;
        }
        .right-menu{
            float:right;
            position: absolute;
            display:inline-flex;
            right:20px;
        }
        .closebtn{
            display:none;
        }
    }
.nav-link{
    color: #000 !important;
}

.right-menu a {
    padding:5px !important;
}
/* test */
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */              
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #fff !important;
    display: block;
    transition: 0.3s;
  }
  .dropdown-item a{
    color: #000 !important; 
  }
  .right-menu a {
    color: #000 !important;
}

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color:#fff !important;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }