.btns {
    float: left;
    background: orange;
    color: white;
    /* width: 40% */
}
.booking1{
    width: 100%;
    background-image: url('https://lynagails-caters.s3-ap-southeast-1.amazonaws.com/uploads/Gostyle/how3.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.booking2{
    width: 100%;
    background-image: url('https://lynagails-caters.s3-ap-southeast-1.amazonaws.com/uploads/Gostyle/how5.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.number {
    font-size: 10em
}

.title {
    font-size: 5.5em
}

.description {
    overflow-wrap: break-word;
    word-break: break-word;
    width: 90%;
    text-align: left;
}

@media only screen and (min-width: 992px){
    .texts{
        padding-left: 30px;
    }
}