.collaborate{
    min-height: 450px;
    margin-top: 100px;
}
.collaborate img{
    width: 100%;
    height: auto;
    max-width: 600px;
    padding: 10px;
}
.collaborate span.realtime{
    padding: 2px 5px;
    background:#fce779;
}
.collaborate span.dedicated{
    font-weight: 800;
}
.collaborate p {
    text-align: center;
    margin-top: 25px;
    font-size: 17px;
}


@media (min-width:320px)  { 
 h3{
     font-size: 30px;
 }
 .collaborate img {
    width: 100%;
    height: auto;
    max-width: 600px;
    padding: 10px;
}
}
@media (min-width:481px)  { 
    h3{
        font-size: 30px;
    }
    .collaborate img {
        width: 100%;
        height: auto;
        max-width: 600px;
        padding: 10px;
    }
}
@media (min-width:641px)  { 
    .collaborate img {
        width: 100%;
        height: 380px;
        max-width: 600px;
        padding: 10px;
    }
}

@media (min-width:961px)  { 
    .collaborate img {
        width: 100%;
        height: 380px;
        max-width: 600px;
        padding: 10px;
    }
}

@media (min-width:1025px) { 
    .collaborate img {
        width: 100%;
        height: 380px;
        max-width: 600px;
        padding: 10px;
    }
}