.cooperation{
    min-height: 350px;
    margin-top: 50px;
    background-image: url('https://lynagails-caters.s3-ap-southeast-1.amazonaws.com/uploads/Gostyle/sharvd.PNG');
    background-size: cover;
    background-repeat: no-repeat;
}
.cooperation-img img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}
.cooperation .row{
    align-items : center;
    justify-content: center;
}
@media (min-width: 320px){
    h1 {
        font-size: 45px;
    }
}
.cooperation h1{
    text-align: left;
    color: #fce779;
    font-weight: 900!important;
    text-shadow: 2px 2px 2px #b2aa38d6;
}

.cooperation-img{
    margin: 20px 0;
}
@media (min-width:320px)  { 
    .cooperation p{
        font-size: 13px;
        font-weight: 700;
        padding:10px 0;
    }
    .cooperation-img{
        text-align: center;
        width:50%;
        display: inline-block;
    }
}
@media (min-width:481px)  { 
    .cooperation p{
        font-size: 24px;
        font-weight: 600;
        padding: 10px 0;
    }
    .cooperation-img{
        text-align: center;
        width:50%;
        display: inline-block;
    }
}
@media (min-width:641px)  { 
    .cooperation p{
        font-size: 13px;
        font-weight: 700;
        padding:10px 5px;
    }
    .cooperation-img{
        text-align: center;
        width:25%;
        display: inline-block;
    }
}

@media (min-width:961px)  { 
    .cooperation p{
        font-size: 16px;
        font-weight: 700;
        padding:10px 20px;
    }
    .cooperation-img{
        text-align: center;
        width:25%;
        display: inline-block;
    }
}

@media (min-width:1025px) { 
    .cooperation p{
        font-size: 17px;
        font-weight: 700;
        padding:10px;
    }
    .cooperation-img{
        text-align: center;
        width:25%;
        display: inline-block;
    }
}