.solutions-img img{
    width:100px;
    height:100px;
    display:block;
    margin:0 auto;
}
.solutions{
    min-height: 450px;
    margin-top:80px;
}

.solution-commerce{
    text-align: center;
    color: #ffef00d6;
    font-weight: 900 !important;
    text-shadow: 2px 2px 2px #b2aa38d6;
}

@media (min-width:320px)  { 
    h1{
        font-size: 50px;
    }
    .solutions p{
        font-size: 13px;
        font-weight: 700;
        padding:10px 0;
    }
    .solutions-img{
        text-align: center;
        width:100%;
        display: inline-block;
    }
}
@media (min-width:481px)  { 
    h1{
        font-size: 50px;
    }
    .solutions p{
        font-size: 24px;
        font-weight: 600;
        padding: 10px 0;
    }
    .solutions-img{
        text-align: center;
        width:100%;
        display: inline-block;
    }
}
@media (min-width:641px)  { 
    h1{
        font-size: 60px;
    }
    .solutions p{
        font-size: 13px;
        font-weight: 700;
        padding:10px 5px;
    }
    .solutions-img{
        text-align: center;
        width:20%;
        display: inline-block;
    }
}

@media (min-width:961px)  { 
    h1{
        font-size: 60px;
    } 
    .solutions p{
        font-size: 16px;
        font-weight: 700;
        padding:10px 20px;
    }
    .solutions-img{
        text-align: center;
        width:20%;
        display: inline-block;
    }
}

@media (min-width:1025px) { 
    h1{
        font-size: 60px;
    }
    .solutions p{
        font-size: 17px;
        font-weight: 700;
        padding:10px 35px;
    }
    .solutions-img{
        text-align: center;
        width:20%;
        display: inline-block;
    }
}