.App {
  text-align: center;
}
body{
  overflow-x:hidden;
}

h1,h2,h3,h4,h5,h6,p,span,a,li{
  color:#212529;
}
h1,h2,h3,h4,h5,h6{
  font-weight:300 !important;
}
a,a:hover{
  font-weight: 500 !important;
  color:#212529 !important;
}
h1{
  font-size:60px;
  margin-bottom: 0;
  text-align:left;
}
h2{
  font-size:40px;
  margin-bottom: 0;
  text-align:left;
}
h3{
  font-size:35px;
  margin-bottom: 0;
  text-align:left;
}
.bold-font-600{
  font-weight:900;
  margin-bottom: 10px;
}
.btn{
  line-height: 1 !important;
}
@media (min-width: 320px){
  .hero-asset22 .row .hero-col-1 h1{
    font-size:50px;
}
  .hero .row .hero-col-1 {
    padding:20px ;
    text-align: left;
  }
  .hero h1{
      font-size: 35px;
      text-align: left;
  }
  .hero .row{
    /* background-image: url(https://lynagails-caters.s3-ap-southeast-1.amazonaws.com/uploads/Gostyle/Background-2.jpg); */
    background-position: bottom;
    text-align: center;
    background-repeat: no-repeat;
    display: flex;
      align-items: center;
      justify-content: center;
      /* background-color: #deeaf8 ; */
  }
}
@media (min-width: 469px){
  .hero-asset22 .row .hero-col-1 h1{
    font-size:50px;
}
  .hero .row .hero-col-1 {
    padding: 15px ;
    text-align: left;
  }
  .hero h1{
    font-size: 35px;
    text-align: center;
}
/* .hero .row{
  background-image: url(https://lynagails-caters.s3-ap-southeast-1.amazonaws.com/uploads/Gostyle/Background-2.jpg);
  background-position: bottom right;
  text-align: center;
  background-repeat: no-repeat;
  display: flex;
    align-items: center;
    justify-content: center;
    background-color: #deeaf8 ;
} */
}
@media (min-width: 992px){
  .hero-asset22 .row .hero-col-1 h1{
    font-size:70px;
}
  .hero .row .hero-col-1 {
    padding: 0 0 0 50px ;
    text-align: left;
  }
  .hero h1{
    font-size: 67px;
    text-align: left;
}
/* .hero .row{
  background-image: url(https://lynagails-caters.s3-ap-southeast-1.amazonaws.com/uploads/Gostyle/Background-2.jpg);
  background-position: bottom right;
  text-align: center;
  background-repeat: no-repeat;
  display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0);
} */
}
@media (min-width: 1024px){
  .hero-asset22 .row .hero-col-1 h1{
    font-size:70px;
}
  .hero .row .hero-col-1 {
    padding: 0 0 0 60px ;
    text-align: left;
  }
  .hero h1{
    font-size: 67px;
    text-align: left;
}
/* .hero .row{
  background-image: url(https://lynagails-caters.s3-ap-southeast-1.amazonaws.com/uploads/Gostyle/Background-2.jpg);
  background-position: bottom right;
  text-align: center;
  background-repeat: no-repeat;
  display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0);
} */
}

.hero.container-fluid{
  overflow: hidden;
  padding-left:0;
  padding-right:0;
}
.hero a{
  padding:7px 15px;
  border-radius:5px;
  margin:5px;
}
.book-now{
  background-color:#fce779; 
}
.we-work{
  background-color:#fce779; 
}
img{
  width: 100%;
  height:auto;
  max-width: 480px;
  padding:10px;
}
.flexcontainer {
  width:100%;
  max-width: 1250px;
  margin: 40px auto;
}

.website{
  padding: 30px 25px;
  
}
.ant-card-bordered {
  border: 1px solid #e55558;
}
.website {
  margin: 35px 0;
  background-image: url('https://lynagails-caters.s3-ap-southeast-1.amazonaws.com/uploads/Gostyle/test-01.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.website-background{
  padding: 35px 25px;
}
.ecom{
  width:100% !important;
}
.slick-slider{
  overflow: hidden;
}